@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
body{
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color:  #F2F2F2;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}



/* Navigation */
.page-header{
  color: #000000;
  background-color: #ffffff;
}
.navigation-link{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}
.navigation-user-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.button-user{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
/* Navigation */


/* Main-inner */
.filter-container{
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/filter-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}


/* Main-inner */
.main-inner-title{
  font-size: 60px;
  line-height: 78px;
}
.breadcrimbs-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}
/* Main-inner */



/* Catalog-filter*/
.filter-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.button-apply{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}
.button-reset{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
/* Catalog-filter */



/* Search-result */
.search-result-text{
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.select-control{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}
/* Search-result */



/* Product-catalog */
.product-catalog{
  color: #000000;
  background-color: #ffffff;
}
.product-card{
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  color: #333;
}
.product-card-link{
  text-decoration: none;
}
.product-card-title{
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.product-card-about{
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}
.button-more{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
}
.button-favorits{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}
.button-favorits-current{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color:  #7DB54F;
  text-transform: uppercase;
  border: none;
}
.product-card-rating-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}
/* Product-catalog */



/* Pagination */
.pagination{
  color: #ffffff;
  background-color: #ffffff;
}
.pagination-item{
  background-color: #82B3D3;
}
.item-dots{
  background-color: #fff ;
}
.pagination-link{
  line-height: 36px;
  text-decoration: none;
  color: #fff;
}
.item-current{
  background-color: #F2F2F2;;
}
.padination-current{
  color: #000000;
}
.pagination-dots{
  color: #000000;
}
/* Pagination */


/* Subscribe */
.subscribe{
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.subscribe-title{
  font-size: 30px;
  line-height: 36px;
}
.subscribe-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.button-submit{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
}
/* Subscribe */


/* Page-footer */
.footer-contacts{
  font-family: 'PT Sans',sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
/* Page-footer */

