@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url(../fonts/ptsans-700.woff2) format("woff2");
font-display: swap;
}

html{
height: 100%;
}
body{
font-family: "PT Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 21px;
color: #000000;
background:  #F2F2F2;
display: flex;
flex-direction: column;
margin: 0;
min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-wrapper{
width: 1200px;
margin: 0 auto;
}



/* Navigation */
.page-header{
  color: #000000;
  background-color: #FFFFFF;
}
.header__navigation{
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}
.navigation__logo{
  display: block;
  margin-right: 30px;
}
.navigation__list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__link{
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 16px 20px;
}

.user__navigation{
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.user__navigation-link{
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.user__navigation-search{
  min-width: 44px;
  min-height: 64px;
  background-image: url(../images/icon/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.user__navigation-favorits{
  min-width: 44px;
  min-height: 64px;
  margin-right: 20px;
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.user-btn{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
}
/* Navigation */


/* Main */
.main-index{
  background-image: url(../images/index-background\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #F2F2F2;
}
/* Main */



/* Hero */
.hero{
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url(../images/hero\ divider\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}
.hero__image{
  display: block;
  margin: 0 auto;
}
/* Hero */



/* Welcome */
.weclome{
  color: #000000;
  background-color: #ffffff;
  padding-top: 69px;
  padding-bottom: 69px;
}
.welcome__wrapper{
  width: 651px;
  margin: 0 auto;
  text-align: center;
}
.welcome__title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
}
.welcome__subtitle{
  font-size: 22px;
  line-height: 26px;
  color: #333333 ;
  margin: 0;
}
/* Weclome */



/* Abou*/
.about{
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.about__list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.about__item{
  background-color: rgba(131, 179, 211, 0.12);
}
.about__item-wrapper{
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}
.about__item--wide{
  display: flex;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.about__item--wide--reverse{
  display: flex;
  flex-direction: row-reverse;
}
.about-item--lightblue{
  background-color: rgba(131, 179, 211, 0.2);
}
.about__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 62px;
}
.about__subtitle{
  margin: 0;
}
/* About */



/* Adventages */
.adventages{
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding-top: 64px;
}
.adventages__wrapper{
  width: 505px;
  margin: 0 auto;
  margin-bottom: 64px;
}
.adventages__list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.adventages__item-wrapper{
  width: 230px;
  padding: 81px 85px;
}
.adventages__item-house{
  background-image: url(../images/icon/adventages-home.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
}
.adventages__item-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 102px;
  margin-bottom: 30px;
}
.adventages__item-eat{
  background-image: url(../images/icon/adventages-food.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
}
.adventages__item-souvenir{
  background-image: url(../images/icon/adventages-souvenir.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
}
.adventages__item-subtitle{
  color: #333333;
  margin: 0;
}
.adventages__item-house{
  background-color: rgba(131, 179, 211, 0.12);
}
.adventages__item-souvenir{
  background-color: rgba(131, 179, 211, 0.12);
}
.adventages__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.adventages__subtitle{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}
/* Adventages */


/* Search */
.search{
  color: #000000;
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.search__wrapper{
  width: 592px;
  margin: 0 auto;
  text-align: center;
}
.search__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.search__subtitle{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;
}
.btn__search{
  font-family: 'PT Sans',sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
  border: none;
  padding: 8px 51px;
  border-radius: 4px;
}
/* Search */


/* Subscribe */
.subscribe{
  background-image: url(../images/Subscribe-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #82B3D3;
  padding-top: 96px;
  padding-bottom: 104px;
}
.subscribe__wrapper{
  width: 684px;
  margin: 0 auto;
  text-align: center;
}
.subscribe__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.subscribe__subtitle{
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe__email{
  display: flex;
}
.email-input{
  width: 458px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
}
.btn__subscribe{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Subscribe */


/* Page-footer */
.page-footer{
  color: #000000;
  background-color: #FFFFFF;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
  /*
  width: 1060px;
  margin: 0 auto;
  paddint-top: 40px;
  padding-bottom: 30px; */
}
.social__list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__link{
  display: block;
  width: 48px;
  height: 40px;
}
.footer__copyright{
  width: 115px;
  height: 33px;
  background-image: url(../images/icon/HTML\ Academy.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__link-vk{
  background-image: url(../images/icon/social-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__link-telegram{
  background-image: url(../images/icon/social-telegram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__link-youtube{
  background-image: url(../images/icon/social-youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer__phone{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
/* Page-footer */
